<!-- FOOTER -->
<footer id="contact"
class="flex flex-col w-full mt-24 bg-lightDark">

<!-- CONTACT & DOWNLOAD -->
<div class=" hidden
    container mx-auto
    flex flex-col-reverse
    items-center
    justify-center
    md:items-start
    md:space-x-12
    w-full py-10
    md:flex-row">

    <!-- LINKS -->
    <div class="
        flex flex-col-reverse
        items-center justify-between
        space-y-10 md:space-y-0
        w-full md:flex-row
        md:items-start md:w-1/2">

        <!-- LOGO AND SOCIAL MEDIAS -->
        <div class="
            flex flex-col-reverse
            items-center justify-between
            space-y-10 md:flex-col h-full
            md:space-y-12 md:items-start">

            <!-- COPYRIGHT -->
            <!-- <p class="text-lightGray md:hidden mt-4">CopyRight &copy;
            2024 All Right reserved</p> -->

            <!-- LOGO -->
            <div class="mb-2 items-center">
                <img
                    src="../assets/icons/logos/Learnia_gradient_text.png"
                    alt
                    class="h-12">
            </div>

            <!-- SOCIAL MEDIAS -->
            <div class="
                w-auto
                flex flex-row
                space-x-4">

                <!-- SOCIAL 1 -->
                <a href class="hover:text-primary">
                    <i
                        class="fa fa-github fa-lg text-light hover:text-primary_light"></i>
                </a>

                <!-- SOCIAL 2 -->
                <a href class="hover:text-primary">
                    <i
                        class="fa fa-facebook fa-lg text-light hover:text-primary_light"></i>
                </a>

                <!-- SOCIAL 3 -->
                <a href class="hover:text-primary">
                    <i
                        class="fa fa-twitter fa-lg text-light hover:text-primary_light"></i>
                </a>

                <!-- SOCIAL 3 -->
                <a href class="hover:text-primary">
                    <i
                        class="fa fa-linkedin fa-lg text-light hover:text-primary_light"></i>
                </a>
            </div>
        </div>

        <!-- LIST CONTAINER -->
        <div class="flex justify-around space-x-12">
            <!-- LIST 1 -->
            <div class="flex flex-col space-y-3 text-light">
                <h3
                    class="font-bold font-orbitron text-primary_dark text-xl">DotPy</h3>
                <a href class="hover:text-primary_dark">Our story</a>
                <a href class="hover:text-primary_dark">Brand</a>
                <a href class="hover:text-primary_dark">News</a>
                <a href class="hover:text-primary_dark">Sponsors</a>
                <a href class="hover:text-primary_dark">Careers</a>
                <a href class="hover:text-primary_dark">Community</a>
            </div>

            <!-- LIST 2 -->
            <div class="flex flex-col space-y-3 text-light">
                <h3 class="font-bold font-orbitron text-primary_dark text-xl">
                    Navigation
                </h3>
                <a href="#hero" class="hover:text-primary_dark">Home</a>
                <a href="#about"
                    class="hover:text-primary_dark">About</a>
                <a href="#services"
                    class="hover:text-primary_dark">Services</a>
                <a href="#products"
                    class="hover:text-primary_dark">Products</a>
                <a href="#contact"
                    class="hover:text-primary_dark">Contact</a>
            </div>
        </div>
    </div>

    <!-- CONTACT -->
    <div class="flex flex-col px-4 items-center justify-center w-full md:px-0 md:w-1/2">
        <!-- HEADING -->
        <h4
            class="text-anim- mt-12
            text-accent text-center
            justify-center text-xl
            font-quicksand font-bold
            mx-4 md:my-0
            md:text-3xl">
            Contactez Le <span class="text-primary_dark">Support</span>
        </h4>

        <!-- FORM CONTAINER -->
        <div class="
            container flex
            flex-col space-y-6
            justify-center
            items-start mt-12
            mx-auto
            md:flex-row
            md:space-y-0
            md:space-x-12">

            <!-- FORM CONTAINER -->
            <div
                class="flex flex-col space-y-4 items-start w-full">
                <div class="flex flex-row space-x-4 w-full">

                    <!-- EMAIL INPUT -->
                    <input
                        type="email"
                        name
                        id
                        placeholder="📧 Your email goes here"
                        class="outline-none h-12 bg-lightDark text-accent rounded-lg px-4 w-1/2">

                    <!-- PHONE INPUT -->
                    <input
                        type="tel"
                        name
                        id
                        placeholder="☎️ Your phone number goes here"
                        class="w-1/2 outline-none h-12 bg-lightDark text-accent rounded-lg px-4">
                </div>

                <!-- OBJECT INPUT -->
                <input
                    type="text"
                    name
                    id
                    placeholder="💌 Your object goes here"
                    class="w-full outline-none h-12 bg-lightDark text-accent rounded-lg px-4">

                <!-- MESSAGE INPUT -->
                <textarea
                    name
                    id
                    cols="30"
                    class="w-full outline-none h-48 bg-lightDark text-accent rounded-lg p-4">Tell us about your project 😀</textarea>
            </div>
        </div>
    </div>
</div>

<!-- COPYRIGHT -->
<div class="flex flex-row items-center justify-between w-full bg-black py-3 px-12">

    <!-- LOGO -->
    <div class="hidden mb-2 items-center md:block">
        <img
            src="../assets/icons/logos/Learnia_gradient_text.png"
            alt
            class="h-8">
    </div>

    <p class="text-gray-500 text-start justify-center text-xs">
        Copyright © 2024 Learnia from AllDotPy. Tous droits réservés.
    </p>

    <a href="/policy" class="text-gray-500 text-start justify-center text-xs underline">
        Termes et conditions.
    </a>

    <!-- SOCIAL MEDIAS -->
    <div class="
        w-auto hidden
        flex flex-row
        space-x-4">

        <!-- SOCIAL 1 -->
        <a href class="hover:text-primary">
            <i
                class="fa fa-github fa-lg text-light hover:text-primary_light"></i>
        </a>

        <!-- SOCIAL 2 -->
        <a href class="hover:text-primary">
            <i
                class="fa fa-facebook fa-lg text-light hover:text-primary_light"></i>
        </a>

        <!-- SOCIAL 3 -->
        <a href class="hover:text-primary">
            <i
                class="fa fa-twitter fa-lg text-light hover:text-primary_light"></i>
        </a>

        <!-- SOCIAL 3 -->
        <a href class="hover:text-primary">
            <i
                class="fa fa-linkedin fa-lg text-light hover:text-primary_light"></i>
        </a>
    </div>
</div>
</footer>
