<!-- HERO SECTION -->
<section id="hero"
class="
z-10 mx-4 md:mx-0
">

<!-- FLEX CONTAINER -->
<div class="
    container flex
    flex-col -reverse
    mt-0 md:px-24-
    baseline mx-4-
    items-center
    justify-center
    space-x-12
    space-y-12
    md:mx-auto
    md:mt-12
    md:space-y-0
    md:flex-row">

    <!-- HERO TEXT -->
    <div
        class="
        flex flex-col
        items-center
        md:items-start
        mx-auto mt-12
        space-y-8
        md:w-1/2">

        <!-- EN -->
        <h1 class=" EN
            text-4xl text-accent
            font-bold text-center
            md:text-left font-quicksand
            md:text-4xl
            xl:text-6xl
            ">
            Votre <span class="text-primary_dark">Partenaire</span>
            idéal
            pour <span class="text-primary_dark">Trouver</span>,
            <span class="text-primary_dark">Comprendre</span> et
            <span
                class="text-primary_dark">Exceller</span> dans vos
            exercices scolaires.
        </h1>

        <!-- EN -->
        <p
            class="text-accent text-center md:text-start lg:text-xl xl:text-2xl">
            <span class="text-primary_dark">Explorez</span> un monde
            de
            savoir avec Learnia, votre compagnon d'apprentissage.
        </p>

        <!-- BUTTONS -->
        <div
            class="
            flex flex-col justify-center
            md:justify-start mt-4 reveall
            space-y-4 md:space-y-0 md:space-x-4
            md:flex-row
            ">

            <!-- APPLE STORE BUTTON -->
            <a href="#contact"
                class="py-2.5 px-3 max-h-[3.5rem]
                font-lexend w-48
                text-dark bg-gray-200
                rounded-xl
                hover:bg-opacity-80
                flex flex-row space-x-1
                items-center justify-center
                md:w-1/2-
                ">
                <!-- LOGO -->
                <div class="w-1/4 max-w-10 h-full">
                    <img
                        src="../assets/icons/stores/apple-black-logo-svgrepo-com.svg"
                        alt class="h-full">
                </div>

                <!-- TEXT -->
                <div
                    class="
                    w-auto flex flex-col
                    space-y-0 py-2 items-start
                    justify-center h-full
                    ">
                    <span
                        class="text-xs font-thin justify-center">Télécharger
                        sur</span>
                    <span
                        class="text-lg font-bold font-quicksand leading-none">
                        App Store
                    </span>
                </div>
            </a>

            <!-- GOOGLE PLAY STORE BUTTON -->
            <a href="#contact"
                class="py-2.5 px-3 max-h-[3.5rem]
                font-lexend w-48
                text-dark bg-gray-200
                rounded-xl
                hover:bg-opacity-80
                flex flex-row space-x-1
                items-center justify-center
                md:w-1/2-
                ">
                <!-- LOGO -->
                <div class="w-1/4 max-w-10 h-full">
                    <img
                        src="../assets/icons/stores/google-play-svgrepo-com.svg"
                        alt class="h-full">
                </div>

                <!-- TEXT -->
                <div
                    class="
                    w-auto flex flex-col
                    space-y-0 py-2 items-start
                    justify-center h-full
                    ">
                    <span
                        class="text-xs font-thin justify-center">Télécharger
                        sur</span>
                    <span
                        class="text-lg font-bold font-quicksand leading-none">
                        Google Play
                    </span>
                </div>
            </a>
        </div>

        <!-- DOWNLOADS -->
        <div
            class="flex flex-col w-full items-center justify-between md:flex-row">

            <!-- TEXTS -->
            <div
                class="flex flex-row mt-16 space-x-2 items-center justify-center md:flex-col md:space-y-2">
                <span
                    class="text-5xl font-lexend font-extrabold justify-center text-primary_dark leading-none">1.2M</span>
                <span
                    class="text-sx text-accent font-quicksand leading-5">
                    Personnes l'ont <br> Déjà téléchargé.
                </span>
            </div>

            <!-- USERS -->
            <div class="
                flex flex-row h-auto space-x-4
                p-2 self-center rounded-full
                bg-primary_dark items-center
                justify-between w-auto mt-2 md:mt-16
                ">

                <!-- USERS BOX -->
                <div class="flex flex-row -space-x-3 w-auto">
                    <div
                        class="h-20 w-20 rounded-full bg-dark p-[2px]">
                        <img
                            src="../assets/images/users/messages-1.jpg"
                            alt class="h-full rounded-full">
                    </div>
                    <div
                        class="h-20 w-20 rounded-full bg-dark p-[2px]">
                        <img
                            src="../assets/images/users/messages-3.jpg"
                            alt class="h-full rounded-full">
                    </div>
                    <div
                        class="h-20 w-20 rounded-full bg-dark p-[2px]">
                        <img
                            src="../assets/images/users/messages-2.jpg"
                            alt class="h-full rounded-full">
                    </div>
                </div>

                <!-- BUTTON -->
                <div class="flex items-center justify-center h-20 w-20 rounded-full bg-dark">
                    <svg class="w-8 h-8 text-light" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 12H5m14 0-4 4m4-4-4-4"/>
                      </svg>
                </div>
            </div>

            <!-- DIV -->
            <div></div>
        </div>
    </div>

    <!-- HERO IMAGE -->
    <div
        class="hidden md:block md:w-1/2 sm:mb-12">
        <img
            src="../assets/images/hero/hero1.png" alt="hero"
            class="w-[70%] md:w-full mx-auto drop-shadow-2xl-
        ">
    </div>
</div>
</section>
