@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    /* LEXEND */
    @font-face {
      font-family: 'lexend';
      src: url(../src/assets/fonts/lexend/Lexend-Light.ttf);
    }

    /* QUICKSAND */
    @font-face {
        font-family: 'quicksand';
        src: url(../src/assets/fonts/Quicksand/Quicksand-Regular.ttf);
    }
}

/* NO SCROLLBAR */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* HOMBUGER MENU */
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all .25%;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom{
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 2px;
  background: #fad9b7;
  transform: rotate(0);
  transition: all .5s;
}

.hamburger-middle{
  transform: translateY(7px);
}

.hamburger-bottom{
  transform: translateY(14px);
}

.open{
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top{
  transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle{
  display: none;
}

.open .hamburger-bottom{
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}

/* REVIEWS */

.review{
  width: 100vw;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: #1f2937;
}

::-webkit-scrollbar-thumb {
  background: #f9b70eff;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #F9B60EE4;
}

/* FIREFOX */
* {
  scrollbar-width: none; /* "auto", "thin", ou "none" */
  scrollbar-color: #f9b70eff #1f2937; /* Couleur du pouce et de l'arrière-plan */
}
