<!-- SITE HEADER -->
<app-header></app-header>

<!-- HERO SECTION -->
<app-hero></app-hero>

<!-- FEATURES -->
<app-feactures></app-feactures>

<!-- OTHER FEACTURES -->
<!-- <app-otherfeactures></app-otherfeactures> -->

<!-- PRICING -->
<app-pricing></app-pricing>

<!-- REVIEWS SECTION -->
<app-reviews></app-reviews>

<!-- FAQ SECTION -->
<!-- <app-faqs></app-faqs> -->

<!-- SATS SECTION -->
<app-stats></app-stats>

<!-- CALL TO ACTION SECTION -->
<app-cta></app-cta>

<!-- DOWNLOAD -->
<app-downloads></app-downloads>

<!-- SITE FOOTER -->
<app-footer></app-footer>
