<div id="feactures" class="h-24"></div>
<!-- FEACTURES SECTION -->
<section id="feactures-"
    class=" container
    flex flex-col
    justify-center
    items-center
    mx-4- md:mx-auto
    bg-primary_light-
    text-white pt-16
    md:flex-row-">

    <!-- HEADING -->
    <h3
        class="text-anim
        text-accent text-center
        justify-center text-4xl
        font-quicksand font-bold
        mx-4 md:my-0
        md:text-5xl">
        Que vous apporte <span class="text-primary_dark">Learnia</span>
        ?
    </h3>

    <!-- CLASS ORDINARY FEACTURES -->
    <div class="w-full mx-auto">
        <!-- SCROLL ANNIMATED -->
        <div class="feacture hidden lg:flex ">
            <div class="
                feacture-
                container
                flex flex-col-reverse
                mx-auto t-32
                space-y-12
                items-start
                md:mt-24
                md:space-x-24
                md:flex-row
                ">

                <!-- TEXT CONTAINER -->
                <div
                    class="flex flex-col mt-10 space-y-8 px-4 md:w-1/2 md:mt-32">

                    <!-- ITEM 1 -->
                    <div
                        class="
                        flex flex-col
                        space-y-3 md:space-y-0
                        md:space-x-6 md:flex-row
                        ">
                        <!-- HEADING -->
                        <div
                            class="
                            reveal
                            rounded-full
                            bg-secondary
                            mb-4 md:mb-0
                            md:bg-transparent
                            ">
                            <div class="flex items-center space-x-2">
                                <div
                                    class="px-4 py-2 text-dark font-bold font-quicksand rounded-full md:py-1 bg-primary_dark">
                                    01
                                </div>
                                <h3
                                    class="text-lg reveal text-anim font-quicksand font-bold mb-0 self-center md:hidden text-light">
                                    Un Apprentissage Interactif
                                </h3>
                            </div>
                        </div>

                        <!-- TEXT -->
                        <div class>
                            <h3
                                class="hidden reveal mb-4 text-anim text-2xl font-quicksand font-bold text-primary_dark md:block">
                                Un Apprentissage Interactif
                            </h3>

                            <!-- EXOHUB -->
                            <li class="reveal text-accent text-xl">
                                <span
                                    class="text-primary_dark font-orbitron mr-0">Exo
                                    Hub</span>,
                                <!-- <br> -->
                                <p class="text-anim-">Une vaste
                                    bibliothèque d'exercices
                                    personnalisés
                                    basés sur les lacunes et les besoins
                                    spécifiques
                                    de chaque élève, pour les aider à
                                    renforcer leurs
                                    compétences dans les domaines où ils
                                    rencontrent
                                    des difficultés.</p>
                            </li><br>

                            <!-- BIBLIOTHEQUE -->
                            <li class="reveal text-accent text-xl">
                                <span
                                    class="text-primary_dark font-orbitron mr-0">
                                    Bibliothèque de Ressources
                                </span>,
                                <!-- <br> -->
                                <p class="text-anim-">
                                    Accédez à une vaste bibliothèque de ressources
                                    pédagogiques couvrant toutes les matières et niveaux.
                                    Trouvez rapidement les informations dont vous avez
                                    besoin pour réussir vos études.
                                </p>
                            </li><br>

                            <!-- INTUITIVE USER EXPERIENCE -->
                            <li class="reveal text-accent text-xl">
                                <span
                                    class="text-primary_dark font-orbitron mr-0">
                                    Interface Utilisateur Intuitive
                                </span>,
                                <!-- <br> -->
                                <p class="text-anim-">
                                    Naviguez facilement grâce à notre
                                    interface
                                    utilisateur intuitive. Chaque
                                    fonctionnalité
                                    est à portée de main, rendant
                                    l'apprentissage
                                    simple et agréable.</p>
                            </li>

                        </div>
                    </div>
                </div>

                <!-- IMAGE CONTAINER -->
                <div
                    class="img-card flex- flex-col- items-center justify-start mx-4 h-[80vh] md:mx-0 md:w-1/2">
                    <img
                        src="../assets/images/feactures/hub.png"
                        alt="Feactures"
                        class="scrolling-image- opacity-0- hidden w-auto h-[25rem]- mx-auto mb-64">
                    <img
                        src="../assets/images/previews/image2.png"
                        alt="Feactures"
                        class="scrolling-image opacity-0- w-full h-[25rem]- mx-auto mb-64">
                    <img
                        src="../assets/images/previews/image3.png"
                        alt="Feactures"
                        class="scrolling-image opacity-0- w-auto h-[25rem]- mx-auto mb-64-">
                </div>
            </div>
        </div>

        <!-- STATIC FOR MOBILE -->
        <div class="
            container h-[100vh]-
            flex flex-col-reverse
            mx-auto mt-12
            space-y-12
            items-center
            lg:hidden
            ">

            <!-- TEXT CONTAINER -->
            <div
                class="flex flex-col mt-10 space-y-8 px-4 md:w-1/2 md:mt-0">

                <!-- ITEM 1 -->
                <div
                    class="
                    flex flex-col
                    space-y-3 md:space-y-0
                    md:space-x-6 md:flex-row
                    ">
                    <!-- HEADING -->
                    <div
                        class="
                        rounded-full
                        bg-secondary
                        mb-4 md:mb-0
                        md:bg-transparent
                        ">
                        <div class="flex items-center space-x-2">
                            <div
                                class="px-4 py-2 text-dark font-bold font-quicksand rounded-full md:py-1 bg-primary_dark">
                                01
                            </div>
                            <h3
                                class="text-lg text-anim font-quicksand font-bold mb-0 self-center md:hidden text-light">
                                Un Apprentissage Interactif
                            </h3>
                        </div>
                    </div>

                    <!-- TEXT -->
                    <div class>
                        <!-- EXOHUB -->
                        <li class="text-accent">
                            <span
                                class="text-primary_dark font-orbitron text-sm mr-0">Exo
                                Hub</span>,
                            <!-- <br> -->
                            <p class="text-anim-">Une vaste
                                bibliothèque d'exercices
                                personnalisés
                                basés sur les lacunes et les besoins
                                spécifiques
                                de chaque élève, pour les aider à
                                renforcer leurs
                                compétences dans les domaines où ils
                                rencontrent
                                des difficultés.</p>
                        </li>

                        <!-- INTUITIVE USER EXPERIENCE -->
                        <li class="text-accent">
                            <span
                                class="text-primary_dark font-orbitron text-sm mr-0">
                                Interface Utilisateur Intuitive
                            </span>,
                            <!-- <br> -->
                            <p class="text-anim-">
                                Naviguez facilement grâce à notre
                                interface
                                utilisateur intuitive. Chaque
                                fonctionnalité
                                est à portée de main, rendant
                                l'apprentissage
                                simple et agréable.</p>
                        </li>
                    </div>
                </div>
            </div>

            <!-- IMAGE CONTAINER -->
            <div
                class="justify-start mx-4 overflow-hidden md:mx-0 md:w-1/2">
                <img
                    src="../assets/images/previews/image2.png"
                    alt="Feactures"
                    class="w-full mx-auto my-10 drop-shadow-2xl-">
            </div>
        </div>
    </div>

    <!-- AI FEACTURES -->
    <div class="w-full mx-auto">
        <!-- SCROLL ANNIMATED -->
        <div class="feacture hidden lg:flex ">
            <div class="
                container
                flex flex-col-reverse
                mx-auto t-32
                space-y-12
                items-start
                md:mt-24
                md:space-x-24
                md:flex-row
                ">

                <!-- IMAGE CONTAINER -->
                <div
                    class="img-card flex- flex-col- items-center justify-start mx-4 h-[80vh] md:mx-0 md:w-1/2">
                    <img
                        src="../assets/images/feactures/hub.png"
                        alt="Feactures"
                        class="scrolling-image- opacity-0- hidden w-auto h-[25rem] mx-auto mb-32">
                    <img
                        src="../assets/images/feactures/pana.svg"
                        alt="Feactures"
                        class="scrolling-image opacity-0- w-auto h-[27rem] mx-auto mb-64">
                    <img
                        src="../assets/images/feactures/ai_feacture.png"
                        alt="Feactures"
                        class="scrolling-image opacity-0- w-auto h-[25rem] mx-auto mb-64-">
                </div>

                <!-- TEXT CONTAINER -->
                <div
                    class="flex flex-col mt-10 space-y-8 px-4 md:w-1/2 md:mt-32">

                    <!-- ITEM 1 -->
                    <div
                        class="
                        flex flex-col
                        space-y-3 md:space-y-0
                        md:space-x-6 md:flex-row
                        ">
                        <!-- HEADING -->
                        <div
                            class="
                            reveal
                            rounded-full
                            bg-secondary
                            mb-4 md:mb-0
                            md:bg-transparent
                            ">
                            <div class="flex items-center space-x-2">
                                <div
                                    class="px-4 py-2 text-dark font-bold font-quicksand rounded-full md:py-1 bg-primary_dark">
                                    02
                                </div>
                                <h3
                                    class="text-lg text-anim font-quicksand font-bold mb-0 self-center md:hidden text-light">
                                    Des Services d'Intélligence Artificielle
                                </h3>
                            </div>
                        </div>

                        <!-- TEXT -->
                        <div class>
                            <h3
                                class="hidden mb-4 reveal text-anim text-2xl font-quicksand font-bold text-primary_dark md:block">
                                Des Services d'Intélligence Artificielle
                            </h3>

                            <!-- TRANSLATION -->
                            <li class="reveal text-accent text-xl">
                                <span
                                    class="text-primary_dark font-orbitron mr-0">
                                    Traduction de Textes
                                </span>,
                                <!-- <br> -->
                                <p class="text-anim-">
                                    Besoin de traduire un texte rapidement ?
                                    Notre outil de traduction instantanée vous
                                    aide à passer d'une langue à une autre avec
                                    précision et fluidité, pour un apprentissage
                                    sans barrière linguistique.
                                </p>
                            </li><br>

                            <!-- SUMMARY -->
                            <li class="reveal text-accent text-xl">
                                <span
                                    class="text-primary_dark font-orbitron mr-0">
                                    Résumé de Documents
                                </span>,
                                <!-- <br> -->
                                <p class="text-anim-">
                                    Simplifiez vos révisions avec des résumés
                                    clairs et concis de tous vos documents.
                                    Notre IA condense l'essentiel pour vous
                                    permettre de retenir les points clés sans
                                    perdre de temps.
                                </p>
                            </li><br>

                            <!-- SUMMARIES -->
                            <li class="reveal text-accent text-xl">
                                <span
                                    class="text-primary_dark font-orbitron mr-0">
                                    Discussions Diverses
                                </span>,
                                <!-- <br> -->
                                <p class="text-anim-">
                                    Engagez-vous dans des discussions en temps
                                    réel avec notre IA pour poser des questions,
                                    clarifier des concepts ou explorer de nouvelles
                                    idées. Une assistance disponible 24/7 pour tous
                                    vos besoins éducatifs.
                                </p>
                            </li>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- STATIC FOR MOBILE -->
        <div class="
            container h-[100vh]-
            flex flex-col-reverse
            mx-auto mt-12
            space-y-12
            items-center
            lg:hidden
            ">

            <!-- TEXT CONTAINER -->
            <div
                class="flex flex-col mt-10 space-y-8 px-4 md:w-1/2 md:mt-0">

                <!-- ITEM 1 -->
                <div
                    class="
                    flex flex-col
                    space-y-3 md:space-y-0
                    md:space-x-6 md:flex-row
                    ">
                    <!-- HEADING -->
                    <div
                        class="
                        rounded-full
                        bg-secondary
                        mb-4 md:mb-0
                        md:bg-transparent
                        ">
                        <div class="flex items-center space-x-2">
                            <div
                                class="px-4 py-2 text-dark font-bold font-quicksand rounded-full md:py-1 bg-primary_dark">
                                01
                            </div>
                            <h3
                                class="text-lg text-anim font-quicksand font-bold mb-0 self-center md:hidden text-light">
                                Une Intélligence Artificielle
                            </h3>
                        </div>
                    </div>

                    <!-- TEXT -->
                    <div class>
                        <!-- EXOHUB -->
                        <li class="text-accent">
                            <span
                                class="text-primary_dark font-orbitron text-sm mr-0">Exo
                                Hub</span>,
                            <!-- <br> -->
                            <p class="text-anim-">Une vaste
                                bibliothèque d'exercices
                                personnalisés
                                basés sur les lacunes et les besoins
                                spécifiques
                                de chaque élève, pour les aider à
                                renforcer leurs
                                compétences dans les domaines où ils
                                rencontrent
                                des difficultés.</p>
                        </li>

                        <!-- INTUITIVE USER EXPERIENCE -->
                        <li class="text-accent">
                            <span
                                class="text-primary_dark font-orbitron text-sm mr-0">
                                Une Intélligence Artificielle
                            </span>,
                            <!-- <br> -->
                            <p class="text-anim-">
                                Naviguez facilement grâce à notre
                                interface
                                utilisateur intuitive. Chaque
                                fonctionnalité
                                est à portée de main, rendant
                                l'apprentissage
                                simple et agréable.</p>
                        </li>
                    </div>
                </div>
            </div>

            <!-- IMAGE CONTAINER -->
            <div
                class="justify-start mx-4 overflow-hidden md:mx-0 md:w-1/2">
                <img
                    src="../assets/images/feactures/feactures.png"
                    alt="Feactures"
                    class="w-full mx-auto my-10 drop-shadow-2xl-">
            </div>
        </div>
    </div>

    <app-otherfeactures></app-otherfeactures>
</section>
