<!-- FAQ SECTION -->
<section id ="cta"
    class=" space-y-8 reveal
    container p-8 h-fit md:h-[24rem]
    flex flex-col rounded-3xl
    justify-center items-center
    bg-gradient-to-r- from-purple-500-
    from-30%- to-primary_light- to-95%-
    bg-lightDark border border-dashed
    mx-4- md:mx-auto mt-36">

    <!-- HEADING -->
    <h3
        class="text-anim
        text-accent text-center
        justify-center text-4xl
        font-quicksand font-bold
        mx-4 md:my-0 md:text-5xl">
        Rejoignez la liste d’attente!<span class="text-primary_dark"></span>
    </h3>

    <p class="text-xl md:text-lg text-center text-light md:max-w-[70%]">
        Inscrivez-vous dès maintenant pour être informé dès que Learnia sera disponible dans votre pays ou région. Ne manquez pas l’opportunité d’accéder à une nouvelle façon d’apprendre avec l’IA !
    </p>

    <!-- BUTTON -->
    <a href="/waitlist"
        class="py-3 px-4 text-light rounded-full
        bg-gradient-to-r from-purple-500
        from-30% to-primary_light to-95%
        text-lg font-bold">
        Rejoindre la liste
    </a>
</section>
